/* CSS Document */

#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 500px) {
  #dateTime {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 540px) {
  #social:before, .deleteCheck:before {
    content: '\A';
    white-space: pre;
  }
}

#votingSystem {
  line-height:.8em;
  margin-top:12px;
  text-align: center;
  font-size: 1.2em;
}

#postContainer {
  font-size:20px;
  margin-left:20px;
  margin-bottom:5px;
  padding: 0px 10px;
  border:1px solid gray;
  border-radius:2px;
  background-color:#FEFEFE;
}

#commentContainer {
  border:1px solid gray;
  border-radius:5px;
  background-color: #FEFEFE;
  padding:0 5px 0 5px;
  margin-top:5px;
  margin-left:20px;
}

.ion-arrow-up-b:hover, .ion-arrow-down-b:hover, .share, .delete {
  cursor: pointer;
}

.deleteCheck {
margin-left: 5px;
  color: red;
}

.deleteCheck:hover {
  color: white;
  background-color: red;
  text-decoration: underline;
  cursor: pointer;
  padding: 0 4px 3px 4px;
}

#social {
  font-size: 1.7em;
}

#facebook {
  color: #3b5998;
}
#twitter {
  color: #4099FF;
}
#linkedin {
  color: #4875B4;
}
#reddit {
  height:18px;
  width: 18px;
  border-radius: 3px;
  margin-top: -4px;
}

.comments {
  color: black;
}
.comments:hover {
  color: black;
  text-decoration: underline;
}

.postToggle {
  margin-left: 2%;
  font-size: 2em;
  color: #3B8AB9;
}
.commentToggle {
  font-size: 1.5em;
  margin-top: 15px;
  color: #3B8AB9;
}
.postHeading, .commentHeading {
  color: black;
}
#newPost {
  margin-left: 2%;
}
