<mat-card>
    <mat-card-title>
  What Is An IdeaTek And Why?
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item >Idea is a thought is made-up of a bunch of activity through various, interconnected neural network in a brain.</mat-list-item>
            <mat-list-item> Sometimes people do not share their creative ideas and they forget or die with it, but if you give them money motivation they will start sharing their ideas and one of their idea may change the world.
              </mat-list-item>
            <mat-list-item> According to the Neuroscience each and every individual get 10,000 ideas in a day.
              </mat-list-item>
              <mat-list-item> Important innovative Idea needs to be  valued, logged, shared with everyone.
              </mat-list-item>
              <mat-list-item>
                  IdeaTek will give unique platform to log, share and sell the ideas.
               
              </mat-list-item>
              <mat-list-item>
                  Pool of these creative ideas may help individuals, companies, corporations to get benefited
            
              </mat-list-item>
          </mat-list>
        </mat-card-content>
  </mat-card>


